<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{user.name}}! {{last_name}}!</h1>
    {{#if isAdmin}}
        {{#each food}}
        <div>
            <p>Producto: {{this.name}}</p>
            <p>Precio: ${{this.price}}</p>
        </div>
        {{/each}}
    {{else}}
        <p>No eres Admin pero Bienvenido!</p>
    {{/if}}

</body>
</html>